.rectangle {
    /* Rectangle 70 */
position: 'absolute';
width: 641px;
height: 140px;
left: 23px;
top: -28px;
background: rgb(0, 0, 0);
mix-blend-mode: darken;
border-radius: 25px;

display: flex;
justify-content: center;
align-items: center;
}

.title-font{
    color: white !important;
    font-style: italic;
    
}
.shadow{ 
    text-shadow: 0 1px 0 rgb(102, 30, 30),
               0 2px 0 rgb(116, 255, 255),
               0 3px 0 rgb(255, 253, 38),
               0 4px 0 rgb(174, 38, 38),
               0 5px 0 rgb(174, 38, 38),
               0 6px 1px rgba(0,0,0,.1),
               /* 0 0 5px rgba(0,0,0,.1), */
               0 0 5px rgba(120, 214, 235, 0.892),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(120, 214, 235, 0.892),
               /* 0 3px 5px rgba(0,0,0,.2), */
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(120, 214, 235, 0.892),
               /* 0 10px 10px rgba(0,0,0,.2), */
               /* 0 20px 20px rgba(120, 214, 235, 0.892); */
               0 20px 20px rgba(0,0,0,.15);
    
}


.center {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    z-index: 2;
}
.shadow2 {
  /* filter: drop-shadow(10px 10px 200px #fccc47) drop-shadow(-10px -10px 50px #fff); */
}

.triangle-wrapper {
  width: 735px;
  height: 520px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangle {
  width: 700px;
  height: 495px;
  background-color: #000;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  margin-top: 10px;
  /* filter: blur(115px) drop-shadow(-10px -10px 75px #000); */
 
}

 #triangle-line {
    color: #fff;
    background-color: #fff;
    text-align: center;
    height: 18px;
}

.neon-box {
        height: 550px;
        width: 650px;
        border: 0.2rem solid #fff;
        border-radius: 2rem;
        padding: 0.4em;
        box-shadow: 0 0 .2rem #fff,
                  0 0 .2rem #fff,
                  0 0 2rem #2EDBFD,
                  0 0 0.8rem #2EDBFD,
                  0 0 2.8rem #2EDBFD,
                  inset 0 0 1.3rem #2EDBFD; 
}

.neon-box2 {
    transform: rotate(0deg); /*Equal to rotateZ(5deg)*/
    height: 550px;
    width: 650px;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #2EDBFD,
              0 0 0.8rem #2EDBFD,
              0 0 2.8rem #2EDBFD,
              inset 0 0 1.3rem #2EDBFD; 
}
